body {
    text-align: center;
    background: url('../img/field.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: Arial, sans-serif;
    color: white;
}

#gameArea {
    width: 600px;
    height: 400px;
    background: rgba(255, 255, 255, 0.3);
    position: relative;
    margin: auto;
    border: 2px solid black;
    overflow: hidden;
    border-radius: 10px;
}

.butterfly {
    width: 50px;
    height: auto;
    position: absolute;
    cursor: pointer;
    animation: flutter 1s infinite alternate ease-in-out, wingFlap 0.6s infinite alternate ease-in-out;
}

.butterfly:hover {
    transform: scale(1.2);
}

@keyframes flutter {
    0% {
        transform: translateY(0px) rotate(0deg);
    }

    100% {
        transform: translateY(-10px) rotate(5deg);
    }
}


@keyframes wingFlap {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(15deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

#timer {
    font-size: 20px;
    font-weight: bold;
    color: yellow;
}